* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
}

html , body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color:#0671eb79 ;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 400px;
    width: 400px;
    background-color:#0671eb26 ;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;

}

#nav {
    height: 130px;
    width: 100%;
   /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    justify-content: flex-start;
    gap: 40px;
    position: fixed;
    z-index: 99;
    
   
    
}

#nav img {
    height: 180px;
    
}


#nav h4 {
    text-transform: uppercase;
    font-weight: 5000;
    color:white;
    font-size: 20px;
}

video{
     
    height: 100%;
      width: 100%;
      position: fixed;
      object-fit: cover;
      z-index: -1;
}

#main{
    position: relative;
    background-color: rgb(0,0,0,0.3);

}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1 {
    font-size: 80px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: "Wolf of Dalal Street";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #0671eb;
    z-index: 10;

}


#page1 p {
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    margin-top: 10px;
}

#page2 {
   min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#speaker {
    height: 100vh;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#speaker img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}

#speaker-in{
    width: 40%;
    text-align: center;
}

#speaker-in h3{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 40px;
}

#speaker-in p{
    font-size: 20px;
    line-height: 20px;
}


#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    z-index: 10;
}

.card{
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

#card1{
    background-image: url(assets/card-1.JPG);
}

#card2{
    background-image: url(assets/card-2.JPG);
}

#card3{
    background-image: url(assets/card-3.JPG);
}

